/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 3, 2025, 11:29:51 PM
    Author     : shaba
*/

body{
    background-color: lightblue;
    
}
h1{
    color: red;
}
h3{
    color:blue;
}   
